@model IEnumerable<SelectListItem>
@{
    ViewData["Title"] = "Add To Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <select name="role" asp-items="Model"></select>
    <button type="submit" class="btn btn-primary">Save Role</button>
</form>