@model string

@if (this.User.Identity.IsAuthenticated)
{
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><img src="@Model.ToString()" class="profile-picture" /> @User.Identity.Name!</a>
}